h1,
h2,
h3,
h4,
p,
th,
td {
  color: $textColor !important;
}

.text-error {
  color: $red;
  font-size: 12px;
}

.link {
  cursor: pointer;
}

.trash > i {
  color: $red;
}

.eye > i {
  color: $blue;
}

.edit > i {
  color: $green;
}

a > i {
  padding: 0 5px;
}

.pull-right {
  text-align: right;
}

.f-container {
  min-height: calc(100vh - 56px);
  background: $background;
  padding: 50px;
}

.m-container {
  width: 50%;
}

.s-container {
  width: 20%;
}

.center {
  text-align: center;
}

.d-flex-column {
  display: flex;
  flex-direction: column;
}

.d-flex-center {
  justify-content: center;
}

.mx-auto {
  margin: auto;
}

.app {
  position: relative;
}

// media screen 768px
@media only screen and (max-width: 600px) {
  .s-container {
    width: 100%;
  }
  .f-container {
    padding: 10px;
  }
}
